/*media query*/

@media only screen and (max-width:672px) {
    .container {
        display: flex;
        flex-direction: column;
        background-size: auto;
        align-items: center;
    }
    .menu {
        text-align: center;
        margin-top: 0px;
        font-size: 16px;
    }
    .input {
        padding: 0px;
        align-items: center;
        width: 99%;
        padding-bottom: 10px;
        margin-bottom: 0%;
    }
    .input h2 {
        font-size: 30px;
    }
    .input input {
        padding: 15px 9px 15px 9px;
    }
    .input button {
        padding: 15px 99px 15px 99px;
    }
    .divisor {
        padding: 12px;
        font-size: 22px;
    }
    .carrosel-filmes {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width:1024px) {}